<section class="container estudos">
  <h2>No momento eu estou estudando:</h2>

  <ul>
    <li><strong>Ciências Exatas (Faculdade - EAD):</strong> foco em estatística, lógica e raciocínio matemático.</li>
    <li><strong>Inglês:</strong> aulas regulares com foco em leitura técnica e conversação.</li>
 <li><strong>AWS (Cloud):</strong> estudando os principais serviços da AWS com foco na <strong>certificação AWS Certified Cloud Practitioner</strong>.</li>
<li><strong>Formação Análise de Dados da Google:</strong> cursos completos sobre coleta, limpeza e análise de dados.</li>
  </ul>
</section>
