@import '/src/styles.scss'; // importa variáveis
.competencias {
  background: white;
  border-radius: 8px;
  h2 {
    color: $roxo-principal;
    margin-bottom: 1rem;
  }
  ul {
    padding-left: 1.5rem;
    li {
      margin-bottom: 0.5rem;
    }
  }
}
