<section class="container competencias">
  <h2>Habilidades Técnicas</h2>

  <p><strong>Linguagens e Frameworks:</strong></p>
  <ul>
    <li>HTML, CSS, JavaScript, TypeScript, Angular, Java, Spring, Python, R</li>
  </ul>

  <p><strong>Banco de Dados:</strong></p>
  <ul>
    <li>SQL</li>
  </ul>

  <p><strong>Visualização e Análise de Dados:</strong></p>
  <ul>
    <li>Tableau, Power BI</li>
  </ul>

  <p><strong>Controle de Versão:</strong></p>
  <ul>
    <li>Git e Github</li>
  </ul>

  <p><strong>Metodologias Ágeis e Ferramentas:</strong></p>
  <ul>
    <li>Scrum, Kanban, Jira, Confluence</li>
  </ul>

  <p><Strong>Cloud:</Strong></p>
  <ul>
    <li>AWS</li>
  </ul>

  <p><strong>Microsoft Office:</strong></p>
  <ul>
    <li>Word, Excel, PowerPoint, Outlook, Teams, OneNote</li>

  </ul>

  <h2>Habilidades Interpessoais</h2>

  <ul>
    <li>
      <strong>Trabalho em equipe:</strong> colaboração para alcançar objetivos.
    </li>

    <li>
      <strong>Comunicação:</strong> clara e assertiva, facilitando o alinhamento.

    </li>

    <li>
      <strong>Gestão de tempo:</strong> organização para cumprir prazos e demandas.
    </li>

    <li>
      <strong>Resolução de problemas:</strong> identificação e solução de desafios.
    </li>

    <li>
      <strong>Adaptabilidade:</strong> flexibilidade frente a mudanças.

    </li>

    <li>
      <strong>Proatividade:</strong> iniciativa para antecipar ações e melhorias.

    </li>

    <li>
      <strong>Pensamento analítico:</strong> interpretação de dados e tomada de decisões.
    </li>

  </ul>
</section>