<section id="sobre" class="container sobre" [class.visible]="isVisible">
   <img src="assets/coisas-incriveis-sobre-seu-cachorro.jpg" alt="Foto da Amanda" class="foto-perfil" />
  <h2>Sobre Mim</h2>
  <p>Oi, eu sou a <strong>Amanda!</strong>  Sou formada em <strong>Análise e Desenvolvimento de Sistemas</strong>, pós‑graduada em  <strong>Qualidade e Testes de Software</strong>, e atualmente curso <strong>Ciências Exatas</strong>. <br>
  Tenho experiência na área de tecnologia, com atuação em desenvolvimento de software. Atualmente, também atuo como freelancer em testes de software pela plataforma Test.io e gerencio uma operação em plataforma de delivery.
</p>
</section>
